.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-top: 15px;
}
.logoCol {
  display: flex;
  justify-content: flex-end;
}
.loader {
  display: flex;
  justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
#switch-mode-button {
  display: block;
  margin-top: 0;
  margin-left: 0;

  font-family: "DM Mono", monospace;
  transition: all 200ms ease-in-out;
  color: #b0b0b3;
  background: none;
  padding: 0 10px;
  border-width: 0;
  border-radius: 3.375rem;
  font-size: 45px;
}
body {
  background: hsl(204, 100%, 99%);
}
#switch-mode-button:hover {
  color: #07072e;
  cursor: pointer;
  background: rgba(200, 201, 204, 0.4);
}
.pagePaddingWeatherToday,
.pagePaddingWeatherNextFiveDays {
  box-shadow: 0px 30px 50px rgb(57 48 90 / 20%);
  display: block;
  margin: 6px auto;

  max-width: 550px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);

  padding: 29px;
  border-radius: 20px;
  font-family: "Rajdhani", sans-serif;
  color: black;
}

.search-bar {
  font-family: "Cutive Mono", monospace;
  border-radius: 3.375rem;

  font-size: 25px;
  box-shadow: 2px 3px 44px rgb(57 48 90 / 20%);
  padding: 6px 20px;
}
.searchIcon {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
#user-inputed-city {
  text-transform: capitalize;
}
#current-location-search {
  text-align: center;
  display: flex;
  justify-content: center;
}
.currentLocation {
  font-size: 25px;
  position: relative;
  top: -6px;
}
.searchButton,
.currentLocationButton {
  border-radius: 3.375rem;
  font-size: 30px;
  transition: all 200ms ease-in-out;
  color: #b0b0b3;
  box-shadow: 2px 3px 44px rgb(57 48 90 / 20%);
}

.searchButton:hover,
.currentLocationButton:hover {
  cursor: pointer;
  background: rgba(200, 201, 204, 0.4);
}

.cityName {
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.degreeNow {
  font-size: 106px;
  text-align: center;
  padding: 0;
  margin: -28px;
}
.degreeSign {
  text-align: center;
  font-size: 20px;
  margin-top: -50px;
  margin-bottom: -3px;
}

#celsius,
#fahrenheit {
  transition: all 150ms ease-in-out;
  padding: 1px 5px;
  border-radius: 5px;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
  background: #dddddf;
  box-shadow: 0px 30px 50px rgb(57 48 90 / 10%);
}

.active {
  font-size: 40px;
  font-weight: 700;
}

.DegreeUnitDisplay #celsius,
.DegreeUnitDisplay #fahrenh {
  font-size: 45px;
}
.degreeNowIcon {
  display: block;
  margin: 0 auto;
}
.weatherDetailsWholeRow {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.weatherDetailsColum,
.degreeDetailsColum {
  display: flex;
  justify-content: center;
}
.weatherDetails,
.degreeDetails {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
}
.cardForWeatherIcons {
  background: rgba(137, 137, 138, 0.6);
  border-width: 0;
}
.hourlyTitle {
  text-align: center;
  font-family: "Cutive Mono", monospace;
  font-size: 25px;
}
#hourlyForecastRow {
  display: flex;
  justify-content: center;
}

.hourlyForecastIcons {
  width: 40px;
  display: block;
  margin: 0 auto;
}
#hours {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 2.5px;
  font-family: "Cutive Mono", monospace;
  font-size: 12px;
}
.hourCol {
  border-radius: 10px;
  width: 50px;

  transition: all 200ms ease-in-out;
}
.hourCol:hover {
  background: rgba(94, 94, 126, 0.2);
  font-weight: 600;
}
.hr {
  margin-top: 2px;
  margin-bottom: 0;
  width: 400px;
}
#date,
#last-updated-time,
#last-updated-title {
  text-align: center;
  color: #79797d;
}
#last-updated-title {
  margin-top: 22px;
  padding: 0;
  font-size: 11px;
}
#date {
  margin-top: 2px;
}
#last-updated-time {
  margin-bottom: -13px;
}
.forecastPageTitle {
  text-align: center;
  font-size: 25px;
  font-family: "Cutive Mono", monospace;
  margin-top: 0;
  margin-bottom: 20px;
}
.NextFiveDays {
  text-align: center;
}

.forecastWholeRow {
  border-radius: 8px;
  margin: 17px 8px;
  transition: all 200ms ease-in-out;
  border-width: 0;
  padding: 11px 0px;
}
.forecastWholeRow:hover {
  box-shadow: 0px 30px 50px rgb(57 48 90 / 10%);
  background: rgba(94, 94, 126, 0.2);
}

#forecastDate {
  font-size: 13px;
  margin-top: 11px;
  color: #79797d;
  font-weight: 500;
}

.forecastDatesRow {
  display: flex;
  justify-content: center;
}

.forecastIconRow {
  display: flex;
  justify-content: center;
}
.forecastDegreeRow {
  display: flex;
  justify-content: center;
}
.forecastIcon {
  width: 62px;
}

#forecastMinCelsius {
  font-size: 25px;
  display: inline;
  opacity: 0.7;

  position: relative;
  bottom: -17px;
}
#forecastMaxCelsius {
  font-size: 25px;
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: -17px;
}
.downArrow,
.upArrow {
  font-size: 10px;
  position: relative;
  left: -1px;
}

#footer {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "DM Mono", monospace;
}

.dark {
  background: #030730;
}

.dark #switch-mode-button:hover {
  color: white;
}

.dark .search-bar {
  box-shadow: 2px 3px 44px rgba(250, 250, 250, 0.3);
}
.dark #last-updated-title,
.dark #last-updated-time,
.dark #date {
  color: #dddddf;
}

.dark .forecastPageTitle,
.dark .forecastDate,
.dark .forecastDegree,
.dark .forecastIcon,
.dark .nextDays {
  color: hsl(0, 0%, 90%);
}
.dark .pagePaddingWeatherToday,
.dark .pagePaddingWeatherNextFiveDays {
  background-image: linear-gradient(
    to top,
    #031537 0%,
    #224283 100%,
    #183b83 100%,
    #414f6a 100%
  );
  /* background-image: url("../images/night4.jpg");*/
  color: white;
  box-shadow: 0px 30px 50px rgba(250, 250, 250, 0.3);
}

.dark #celsius:hover,
.dark #fahrenheit:hover {
  background: rgba(200, 201, 204, 0.4);
}
.dark .forecastWholeRow:hover {
  background: rgba(164, 182, 254, 0.2);
}
.dark #forecastMinCelsius,
.dark #forecastMaxCelsius {
  color: #dddddf;
}
.dark .hourCol:hover {
  background: rgba(148, 148, 161, 0.2);
  font-weight: 600;
}
.dark #footer {
  color: #dddddf;
}
a {
  text-decoration: none;
}
