.App-logo {
  height: 30px;
  pointer-events: none;
  position: relative;
  left: -6px;
  top: -2px;
}

.loader {
  display: flex;
  justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

body {
  background: linear-gradient(135deg, #1c2331 0%, #2f3441 100%);
}

.pagePaddingWeatherToday,
.pagePaddingWeatherNextFiveDays {
  background: linear-gradient(135deg, #24292e 0%, #3c4147 100%);
  color: white;
  box-shadow: 0px 30px 50px rgba(250, 250, 250, 0.3);
  display: block;
  margin: 6px auto;
  max-width: 550px;
  padding: 20px;
  border-radius: 30px;
  font-family: "League Spartan", sans-serif;
}

.search-bar {
  font-weight: 200;
  border-radius: 3.375rem;
  font-size: 23px;
  box-shadow: 2px 3px 44px rgb(250 250 250 / 30%);
  padding: 3px 15px;
}
.searchIcon {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.current-location-search {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin: -10px auto -24px auto;
}
.currentLocation {
  font-size: 25px;
  position: relative;
  top: -6px;
}
.fa-location-arrow {
  color: rgb(231, 81, 1);
}
.searchButton,
.currentLocationButton {
  border-radius: 3.375rem;
  font-size: 30px;
  transition: all 200ms ease-in-out;
  color: #b0b0b3;
}

.searchButton:hover,
.currentLocationButton:hover {
  cursor: pointer;
  font-size: 30.5px;
}

.cityName {
  font-size: 45px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

.degreeNow {
  font-size: 106px;
  text-align: center;
  padding: 0;
  margin: -28px;
}
.degreeSign {
  text-align: center;
  font-size: 30px;
  margin-top: -50px;
  margin-bottom: -3px;
  font-weight: 400;
}

.celsius,
.fahrenheit {
  transition: all 150ms ease-in-out;
  padding: 1px 5px;
  border-radius: 5px;
}

.celsius:hover,
.fahrenheit:hover {
  cursor: pointer;
  background: #dddddf;
  box-shadow: 0px 30px 50px rgb(57 48 90 / 10%);
}

.degreeNowIcon {
  display: flex;
  justify-content: center;
  margin: 7px auto;
}
.weatherDetailsWholeRow {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.weatherDetailsColum,
.degreeDetailsColum {
  display: flex;
  justify-content: center;
}
.weatherDetails,
.degreeDetails {
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 300;
}
.cardForWeatherIcons {
  background: rgba(137, 137, 138, 0.6);
  border-width: 0;
}
.hourlyTitle,
.forecastPageTitle {
  text-align: center;
  font-size: 20px;
  padding-bottom: 24px;
}
.fa-clock,
.fa-calendar-week {
  position: relative;
  left: -10px;
}

.hourlyForecastRow {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 25px;
  -webkit-overflow-scrolling: touch;
}

.hourlyForecastIcons {
  width: 40px;
  display: block;
  margin: 0 auto;
}
.hours {
  margin-top: 2.5px;
  font-family: "Cutive Mono", monospace;
  font-size: 12px;
}
.hourCol {
  text-align: center;
}
.hr {
  margin-top: 2px;
  margin-bottom: 0;
  width: 400px;
}
.hourlyDegree {
  font-weight: 600;
  font-size: 23px;
}
.date,
.last-updated-time,
.last-updated-title {
  text-align: center;
  color: #dddddf;
}
.last-updated-title {
  margin-top: 22px;
  padding: 0;
  font-size: 11px;
}
.date {
  margin-top: 2px;
}
.last-updated-time {
  margin-bottom: -13px;
}

.NextFiveDays {
  text-align: center;
}

.forecastWholeRow {
  border-radius: 8px;
  margin: 17px 3px;
  transition: all 200ms ease-in-out;
  border-width: 0;
  padding: 6px 0px;
}
.forecastWholeRow:hover {
  box-shadow: 0px 30px 50px rgb(57 48 90 / 10%);
  background: rgba(94, 94, 126, 0.2);
}

.forecastDate {
  font-size: 13px;
  margin-top: 11px;
  font-weight: 300;
}

.forecastDatesRow {
  display: flex;
  justify-content: flex-start;
}

.forecastIconRow {
  position: relative;
  top: 15px;
}
.forecastDegreeRow {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}
.forecastDescription {
  position: relative;
  bottom: -23px;
  font-size: 17px;
  font-weight: 300;
}
.forecastMinCelsius {
  font-size: 25px;
  display: inline;
  opacity: 0.7;
  position: relative;
  bottom: -17px;
}
.forecastMaxCelsius {
  font-size: 25px;
  display: inline;
  margin-left: 10px;
  position: relative;
  bottom: -17px;
}
.downArrow,
.upArrow {
  font-size: 10px;
  position: relative;
  left: -1px;
}

#footer {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "DM Mono", monospace;
  color: #dddddf;
}

.forecastDate,
.forecastDegree,
.forecastIcon,
.nextDays {
  color: hsl(0, 0%, 90%);
}

a {
  text-decoration: none;
  color: #f4ffe9;
}
@media (max-width: 357px) {
  .forecastDegreeRow {
    margin: -15px 1px 0 5px;
  }
  .forecastDescription {
    margin-left: 18px;
  }
  .forecastIconRow {
    margin-left: 18px;
  }
}
